html {
    font-size: 20px;
}

:root {
    /* --color-primary: #0061c3 !important; */
    --color-primary: #f2ff00 !important;
    --color-secondary: #ff0077;
    /* --color-secondary: #d1ff00; */
    /* --color-contrast: #d1ff00; */
    --color-accent: var(--color-secondary) !important;
    --footer-link-hover: #88a600;

    --max-width: 1024px;
}
