@font-face {
    font-family: 'Mathlete Bulky Regular';
    src: url('../fonts/mathlete-bulky-webfont.eot');
    src: url('../fonts/mathlete-bulky-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mathlete-bulky-webfont.woff') format('woff'),
         url('../fonts/mathlete-bulky-webfont.ttf') format('truetype'),
         url('../fonts/mathlete-bulky-webfont.svg#mathlete_bulkyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Mathlete Skinny Regular';
    src: url('../fonts/mathlete-skinny-webfont.eot');
    src: url('../fonts/mathlete-skinny-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mathlete-skinny-webfont.woff') format('woff'),
         url('../fonts/mathlete-skinny-webfont.ttf') format('truetype'),
         url('../fonts/mathlete-skinny-webfont.svg#mathlete_skinnyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1 {
	font-family: "Mathlete Bulky Regular", Calibri, Sans-Serif;
	text-align: center;
	font-weight: 400;
	font-size: 300%;
	line-height: 1em;
	color: #999;
	text-shadow: 1px 1px 25px #999;
	text-transform: none;
}