* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

body {
	background: #191919 url(../img/bgs/content-bg-charcoal.png) repeat 20% top;
	color: #676464;
	font-size: 100%;
	font-family: arial, verdana, sans-serif;
	line-height: 125%;
}


a {
	color: #676464;
}

a:hover {
	color: #ededed;
}

h1 {
	font-family: Calibri, Sans-Serif;
	text-align: center;
	font-weight: 400;
	font-size: 250%;
	line-height: 1em;
	color: #999;
	text-shadow: 1px 1px 25px #999;
	text-transform: uppercase;
}

footer {
	color: #676464;
	font-size: 81.25%;
	padding: 0 10px;
	text-align: center;
	width: 100%;
	-webkit-text-shadow: 1px 1px 0 black;
	-moz-text-shadow: 1px 1px 0 black;
	text-shadow: 1px 1px 0 black;
}

@-webkit-keyframes shaky {

  0%, 33% {
    background-position: 50% 0;
  }

  33.0001%, 66% {
    background-position: 50% 50%;
  }

  66.0001%, 100% {
    background-position: 50% 100%;
  }

}

@-moz-keyframes shaky {

  0%, 33% {
    background-position: 50% 0;
  }

  33.0001%, 66% {
    background-position: 50% 50%;
  }

  66.0001%, 100% {
    background-position: 50% 100%;
  }

}

@keyframes shaky {

  0%, 33% {
    background-position: 50% 0;
  }

  33.0001%, 66% {
    background-position: 50% 50%;
  }

  66.0001%, 100% {
    background-position: 50% 100%;
  }

}

#wrapper {
	width: 100%;
	min-height: 270px;
}

#wrapper > .inner {
	width: 90%;
	max-width: 1024px;
	margin: auto;
	min-width: 300px;
	position: relative;
	height: 100%;
	vertical-align: middle;
}

#wrapper > .inner > .vmid {
	vertical-align: middle;
}

#logo-wrapper {
	margin: 5% auto 0px auto;
	position: relative;
	min-width: 300px;
	max-width: 100%;
	width: 600px;
}

#logo-wrapper:before {
	content: "";
	display: block;
	position: relative;
	padding-bottom: 36.5%;
}


#tv:before {
	content: "";
	display: block;
	position: relative;
	padding-bottom: 43.5%;
}

#tv {
	background: url(../img/bgs/tv.png) no-repeat;
	background-size: 100% auto;
	position: relative;
	top: 0;
	left: 0;
	width: 600px;
	margin-top: -32%;
	margin-bottom: 40px;
	max-width: 100%;
}

/* position within tv */
#logo {
	position: absolute;
	left: 25%;
	top: 40%;
	width: 33%;
}


#logo:after {
	content: "";
}

#logo:after, #logo .inner {

	display: inline-block;
	overflow: hidden;
	-moz-animation: shaky 0.25s infinite;
	-webkit-animation: shaky 0.25s infinite;
	animation: shaky 0.25s infinite;
	background: transparent url(../img/bgs/logo.svg) no-repeat 50% 0;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	max-width: 667px;

	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

#logo:before {
	content: "";
	display: block;
	position: relative;
	padding-bottom: 34.78260869565217391304347826087%;
}

/* css animation on pseudo elements doesnt work on ios */
#logo:after {
	display: none;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

	#tv {
		background: url(../img/bgs/tv@2x.png) no-repeat;
		-webkit-background-size: 100% auto;
		-moz-background-size: 100% auto;
		-o-background-size: 100% auto;
		background-size: 100% auto;
	}

}

#clients {
	/*height: 40px;*/
	padding-top: 5%;
	background: rgba(255,255,255,0.4) url(../img/content/kundenbanner.png) no-repeat center;
	background-size: 100% auto;
	margin: 40px 0;
}

@media all and (max-width: 1023px) {
	#clients {
		background-image: url(../img/content/kundenbanner-50.png);
		/*height: 90px;*/
		padding-top: 12%;
		background-size: 100% auto;
	}
}


@media all and (max-width: 567px) {
	#clients {
		background-image: url(../img/content/kundenbanner-33.png);
		/*height: 220px;*/
		padding-top: 37%;
		/*background-size: 100% auto; */
	}
}